# Rename this file to .env and fill in your local credentials
DEBUG=True
SECRET_KEY=

DB_NAME=visitor_tracking
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

AZURE_OCR_KEY=
AZURE_OCR_ENDPOINT=
