# Virtual environments
.venv/
venv/
ENV/

# Secrets & Environment variables
.env
.env.*
!.env.example

# Certificates & Private keys
*.pem
*.key

# Python / Django Caching
__pycache__/
*.py[cod]
*$py.class
db.sqlite3

# Computer Vision Logs & Local Processing Dumps
# (Prevents test images/sounds from bloating your repo)
LicensePlate/test_*
Photos/processed_*
*.log

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Django
db.sqlite3
